{% extends 'base.html.twig' %}

{% block link %}
    <link rel="stylesheet" href="{{ asset("css/home2.css") }}">
{% endblock %}

{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_index') }}" class="btn btn-info btn-sm" id="admin">Accéder à votre espace administrateur</a>
    {% endif %}
    <a href="{{ path('snowboards_index') }}">
        <section id="section-snowboards">
            <h2>Tous les snowboards</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_splitboards') }}">
        <section id="section-splitboard">
            <h2>Splitboard</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_poly_freeride') }}">
        <section id="section-polyfreeride">
            <h2>Polyvalent freeride</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_freeride') }}">
        <section id="section-freeride">
            <h2>Freeride</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_poly_freestyle') }}">
        <section id="section-polyfreestyle">
            <h2>Polyvalent freestyle</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_freestyle') }}">
        <section id="section-freestyle">
            <h2>Freestyle</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_carving') }}">
        <section id="section-carving">
            <h2>Carving</h2>
        </section>
    </a>
    <a href="{{ path('snowboards_poudreuse') }}">
        <section id="section-poudreuse">
            <h2>100% poudreuse</h2>
        </section>
    </a>
{% endblock %}
{% block javascripts %}
        <script>
        window.axeptioSettings = {
        clientId: "638d108ede723bd5f895f62b",
        cookiesVersion: "projet-fdf-fr",
        };
        
        (function(d, s) {
        var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
        e.async = true; e.src = "//static.axept.io/sdk.js";
        t.parentNode.insertBefore(e, t);
        })(document, "script");
    </script>
{% endblock %}