{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block main %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Client</th>
                <th>Adresse de livraison</th>
                <th>Adresse de facturation</th>
                <th>Produits</th>
                <th>Montant TTC</th>
                <th>Créé le</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td><a href="{{ path('user_detail', { id: commande.user.id }) }}">{{ commande.user.id }}</td>
                <td>{{ commande.adresseLiv }}</td>
                <td>{{ commande.adresseFacturation }}</td>
                <td>
                {% for test in commande.detailCommande %}
                    {{ test.nom }}</br>
                {% endfor %}
                </td>
                <td>{{ commande.montant }} €</td>
                <td>{{ commande.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>
                    {# <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune commande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_commande_new') }}">Create new</a> #}
{% endblock %}
