{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block main %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AdresseLiv</th>
                <th>AdresseFacturation</th>
                <th>Montant</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
        {{ dump(commandes) }}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.adresseLiv }}</td>
                <td>{{ commande.adresseFacturation }}</td>
                <td>{{ commande.montant }} €</td>
                {# <td>{{ commande.detailCommande.nom}}</td> #}
                <td>{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {# <a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_commande_new') }}">Create new</a> #}
{% endblock %}
