{% extends 'base.html.twig' %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block title %}New Commande{% endblock %}

{% block main %}
    <h1>Validation de la commande</h1>
    <p>Le récapitulatif de la commande vous sera envoyé sur votre boîte mail : <strong>{{ app.user.email }}</strong> </p>
    {{ form_start(formCommande) }}

        {{ form_row(formCommande.nom) }}
        {{ form_row(formCommande.prenom) }}
        {{ form_row(formCommande.societe) }}
        {{ form_row(formCommande.adresseLiv) }}
        {{ form_row(formCommande.adresseFacturation) }}
        <input type="submit" value="Enregistrer" class="bouton">
    {{ form_end(formCommande) }}

    <div>
        
        <table class="table table-striped table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix unitaire / TTC</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Montant</th>
                </tr>
            </thead>
            <tbody>

                 {% for element in panierData %}
                    <tr>
                        <td>{{ element.snowboards.nom }}</td>
                        <td>{{ element.snowboards.prix|number_format(2, ',', ' ') }} €</td>
                        <td>{{ element.quantite }}</td>
                        <td>{{ (element.snowboards.prix * element.quantite)|number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Votre panier est vide</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">Montant total : {{ montant|number_format(2, ',', ' ') }} € / TTC</td>
                    </tr>
                </tfoot>
        </table>
        <a href="{{ path('cart_index') }}" class="btn btn-info btn-sm">Retour au panier</a>
        <form action="{{ path('checkout') }}" method="POST">
            <button type="submit" class="btn btn-primary mt-3 mb-3 w-50">Payer {{ total|number_format(2, ',', ' ') }} €</button>
        </form>
    </div>

{% endblock %}