{% extends 'base.html.twig' %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block title %}Fiche snowbard {{ snowboard.nom }}{% endblock %}

{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_snowboards') }}" class="bouton retour">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Retour à liste des snowboards
        </a>
        <a href="{{ path('admin_snowboard_update', { id: snowboard.id }) }}" class="bouton">Modifier</a>
        <a href="{{ path('admin_snowboard_delete', { id: snowboard.id }) }}" class="bouton bouton-suppr" onclick="return confirm('Souhaitez-vous vraiment supprimer ce snowbard ?')" >Supprimer le snowboard</a>
    {% endif %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{ asset('images/snowboards/' ~ snowboard.imageName) }}" alt="{{ snowboard.imageName }}" style="width: 50%"/>
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">{{ snowboard.marque.nom }}</div>
                    <h2 class="display-5 fw-bolder">{{ snowboard.nom }}</h2>
                    <div class="fs-5 mb-5">
                        {# <span class="text-decoration-line-through">$45.00</span> #}
                        <span>{{ snowboard.prix }} €</span>
                    </div>
                    <p class="lead">{{ snowboard.description }}</p>
                    <p class="lead">Taille : {{ snowboard.taille }}</p>
                    <p class="lead">Stock : {{ snowboard.stock }}</p>
                    <div class="d-flex">
                        <a class="bouton" type="button" href="{{ path('cart_add', {id: snowboard.id}) }}">
                            <i class="bi-cart-fill me-1"></i>
                            Ajouter au panier
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
