{% extends 'base.html.twig' %}
{% block link %}
    <link rel="stylesheet" href="{{ asset('css/snowboards/index.css') }}">
{% endblock %}
{% block title %}Carving{% endblock %}

{% block main %}
    <a href="{{ path('recherche') }}" class="bouton">Recherche personnalisée</a>
    <h1>Carving</h1>
    {% if snowboards|length > 0 %}
    <div class="test">
        {% for snowboard in snowboards %}
            <div class="card">
                <img src="{{ asset('images/snowboards/' ~ snowboard.imageName) }}" class="card-img-top" alt="{{ snowboard.imageName }}" style="width: 50%">
                <div class="card-body">
                    <h5 class="card-title">{{ snowboard.nom }}</h5>
                </div>
                <div style="color: black">
                    <p>Marque : {{ snowboard.marque.nom }}</p>
                    <p>Pour : {{ snowboard.genre.nom }}</p>
                    <p>Programme : {{ snowboard.programme.nom }}</p>
                    <p>Niveau : {{ snowboard.niveau.nom }}</p>
                    <p>Cambre : {{ snowboard.cambre.nom }}</p>
                    <p>Shape : {{ snowboard.shape.nom }}</p>
                    <p>Insert : {{ snowboard.snowinsert.nom }}</p>
                    <p>Prix : {{ snowboard.prix }} €/TTC</p>
                </div>
                <div class="card-body">
                <a href="{{ path('snowboards_detail', {id: snowboard.id}) }}" class="bouton">Détail</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>Désolé ! Aucun produit n'est disponible pour le moment !</p>
    {% endif %}
{% endblock %}
