{% extends 'base.html.twig' %}

{% block title %}Snowboards area | Contact{% endblock %}

{% block main %}
    <section>
        <div class="container">
            {% for message in app.flashes("email_envoyer") %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Nous avons bien reçu votre email. </strong>
                    <p>{{ message }}</p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <h1>Envoyer votre demande</h1>
            {{ form_start(formContact) }}
                {{ form_row( formContact.nom ) }}
                {{ form_row( formContact.prenom ) }}
                {{ form_row( formContact.email ) }}
                {{ form_row( formContact.message ) }}
            <input type="submit" value="Envoyer" class="bouton">
            {{ form_end(formContact) }}

        </div>
    </section>
{% endblock %}