{% extends 'base.html.twig' %}
{% block link %}
    <link rel="stylesheet" href="{{ asset('css/snowboards/index.css') }}">
{% endblock %}
{% block title %}Recherche personnalisée{% endblock %}

{% block main %}
    <section>
        <h1>Recherche personnalisée</h1>
        {{ form_start(rechercheForm)}}
            {{ form_row(rechercheForm.genre)}}
            {{ form_row(rechercheForm.niveau)}}
            {{ form_row(rechercheForm.programme)}}
            {{ form_row(rechercheForm.cambre)}}
            {{ form_row(rechercheForm.shape)}}
            {{ form_row(rechercheForm.snowinsert)}}
            <input type="submit" value="Rechercher" class="btn btn-info btn-sm">
        {{ form_end(rechercheForm)}}
    </section>
    <section class="mt-5">
        <h2>Résultats de votre recherche :</h2>
        {% if app.request.method == 'POST' and snows|length == 0 %}
            <p>Aucun réultat pour votre recherche</p>
        {% else %}
        <div class="snow-index">
            {% for snowboard in snows %}
                <div class="card text-center">
                    <img src="{{ asset('images/snowboards/' ~ snowboard.imageName) }}" class="card-img-top w-50" alt="{{ snowboard.imageName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ snowboard.nom }}</h5>
                    </div>
                    <div>
                        <p>Marque : {{ snowboard.marque.nom }}</p>
                        <p>Pour : {{ snowboard.genre.nom }}</p>
                        <p>Programme : {{ snowboard.programme.nom }}</p>
                        <p>Niveau : {{ snowboard.niveau.nom }}</p>
                        <p>Cambre : {{ snowboard.cambre.nom }}</p>
                        <p>Shape : {{ snowboard.shape.nom }}</p>
                        <p>Insert : {{ snowboard.snowinsert.nom }}</p>
                        <p>Prix : {{ snowboard.prix }} € /TTC</p>
                    </div>
                    <div class="card-body">
                    <a href="{{ path('snowboards_detail', {id: snowboard.id}) }}" class="btn btn-info btn-sm">Détail</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
        <a href="javascript:history.go(-1)" class="btn btn-info btn-sm">Retour page précédente</a>
    </section>
{% endblock %}
