{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}

{% block main %}

<section>
    <div class="container">

        <h2>Ajouter un utilisateur</h2>

        {{ form_start(formUser) }}
            {{ form_row( formUser.nom ) }}
            {{ form_row( formUser.prenom ) }}
            {{ form_row( formUser.email ) }}
            {# {{ form_row( formUser.password ) }} #}
            <input type="submit" value="Enregistrer" class="bouton">
        {{ form_end(formUser) }}

    </div>
</section>

{% endblock %}