{% extends 'base.html.twig' %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('css/user/update.css') }}">
{% endblock %}

{% block title %}Modifier le profil{% endblock %}

{% block main %}
        <h1>Modifier le profil</h1>
        {{ form_start(formUser) }}
            {{ form_row( formUser.nom ) }}
            {{ form_row( formUser.prenom ) }}
            {{ form_row( formUser.email ) }}
            {{ form_row( formUser.adresse ) }}
            {{ form_row( formUser.codePostal ) }}
            {{ form_row( formUser.ville ) }}
        <input type="submit" value="Enregistrer" class="btn btn-info btn-sm">
        {{ form_end(formUser) }}
{% endblock %}